[Desktop Entry]
Version=1.0
Type=Application
Name=Camera
Comment=View your device's camera photos
Exec=exo-open --launch FileManager /mnt/Phone/DCIM/Camera
Icon=folder
Path=
Terminal=false
StartupNotify=false
Name[en_US.UTF-8]=Camera
