Package: maru
Version: 0.1-1
Section: x11
Priority: optional
Architecture: armhf
Depends: libc6, libx11-6, libxfixes3, libxext6, libxdamage1, libxi6, libxrandr2,
    xserver-xorg-video-dummy,
    xfce4,
    lightdm,
    sudo, rsync
Recommends: xfce4-terminal, xfce4-screenshooter,
    lxtask,
    vim,
    iceweasel,
    libreoffice-writer,
    libreoffice-calc,
    libreoffice-impress,
    ristretto
Maintainer: Preetam D'Souza <preetamjdsouza@gmail.com>
Description: Userspace components for Maru Desktop
