Package: maru
Version: 0.1-1
Section: x11
Priority: optional
Architecture: all
Depends: libc6,
    xserver-xorg, xserver-xorg-video-dummy, xinit,
    lightdm,
    dbus-x11,
    xfce4, tango-icon-theme,
    sudo, rsync, xinput,
    maru-mflinger-client
Recommends: xfce4-terminal, xfce4-screenshooter,
    lxtask,
    vim,
    firefox-esr,
    libreoffice-writer,
    libreoffice-calc,
    libreoffice-impress,
    ristretto
Maintainer: Preetam D'Souza <preetamjdsouza@gmail.com>
Description: Userspace components for Maru Desktop
