Package: maru
Version: 0.1-1
Section: x11
Priority: optional
Architecture: all
Depends: libc6,
    xserver-xorg-video-dummy,
    xfce4,
    lightdm,
    sudo, rsync,
    maru-mflinger-client
Recommends: xfce4-terminal, xfce4-screenshooter,
    lxtask,
    vim,
    firefox-esr,
    libreoffice-writer,
    libreoffice-calc,
    libreoffice-impress,
    ristretto
Maintainer: Preetam D'Souza <preetamjdsouza@gmail.com>
Description: Userspace components for Maru Desktop
