[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=x-www-browser http://maruos.com
StartupNotify=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=About Maru
