[Desktop Entry]
Version=1.0
Type=Application
Name=sdcard
Comment=Access your phone's internal storage
Exec=exo-open --launch FileManager /mnt/sdcard
Icon=folder
Path=
Terminal=false
StartupNotify=false
Name[en_US.UTF-8]=sdcard
