[Unit]
Description=mflinger client for X11
After=display-manager.service

[Service]
Type=simple
Environment=DISPLAY=:0 XAUTHORITY=/var/run/lightdm/root/:0
ExecStart=/usr/bin/mclient
Restart=always

[Install]
WantedBy=multi-user.target
